<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/fresco.css"/>
    <link rel="stylesheet" href="css/slick.css"/>
</head>
<body>
    <div id="container">
        <div class="main">
            <!-- header start -->
            <div class="header">
                <div class="top_box">
                    <div class="header_box left_menu">
                        <a href="#" class="link">
    
                            <i class="fa-brands fa-kaggle"></i>
                        </a>
                        <a href="#" class="link">
    
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="#" class="link">
    
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                    <div class="header_box logo">
                        #Hee-seung Lee
                    </div>
                    <div class="header_box right_menu">
                        <a href="#" class="link">
    
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                    </div>     
                </div>
                <div class="bottom_box">
                    <ul class="memu_list">
                        <li class="memu">
                            <a href="#" class="memu_title">
                                HOME
                            </a>
                        </li>
                        <li class="memu">
                            <a href="#" class="memu_title">
                                ABOUT
                            </a>
                        </li>
                        <li class="memu">
                            <a href="#" class="memu_title">
                                GALLERT
                            </a>
                        </li>
                    </ul>
                </div>           
            </div>
            <!-- header end -->
            <!-- content -->
            <div class="content">
                <div class="mom_slider">
                    <div class="slide_item">
                        <a class="fresco" href="./img/hero-slider/1.jpg" data-fresco-group="projects">
                            <img src="./img/hero-slider/1.jpg" alt="">
                        </a>
                    </div>
                    <div class="slide_item">
                        <a class="fresco" href="./img/hero-slider/2.jpg" data-fresco-group="projects">
                            <img src="./img/hero-slider/2.jpg" alt="">
                            </a>
                    </div>
                    <div class="slide_item">
                        <a class="fresco" href="./img/hero-slider/3.jpg" data-fresco-group="projects">
                            <img src="./img/hero-slider/3.jpg" alt="">
                        </a>	
                    </div>
                    <div class="slide_item">
                        <a class="fresco" href="./img/hero-slider/4.jpg" data-fresco-group="projects">
                            <img src="./img/hero-slider/4.jpg" alt="">
                        </a>	
                    </div>
                    <div class="slide_item">
                        <a class="fresco" href="./img/hero-slider/5.jpg" data-fresco-group="projects">
                            <img src="./img/hero-slider/5.jpg" alt="">
                        </a>	
                    </div>
                    <div class="slide_item">
                        <a class="fresco" href="./img/hero-slider/6.jpg" data-fresco-group="projects">
                            <img src="./img/hero-slider/6.jpg" alt="">
                        </a>	
                    </div>
                    <div class="slide_item">
                        <a class="fresco" href="./img/hero-slider/7.jpg" data-fresco-group="projects">
                            <img src="./img/hero-slider/7.jpg" alt="">
                        </a>	
                    </div>
                </div>
                <div class="mom_text_slider">
                    <div class="text_item">
                        <h2>01.제목</h2>
                        <p>01.내용</p>
                    </div>
                    <div class="text_item">
                        <h2>02.제목</h2>
                        <p>02.내용</p>
                    </div>
                    <div class="text_item">
                        <h2>03.제목</h2>
                        <p>03.내용</p>
                    </div>
                    <div class="text_item">
                        <h2>04.제목</h2>
                        <p>04.내용</p>
                    </div>
                    <div class="text_item">
                        <h2>05.제목</h2>
                        <p>05.내용</p>
                    </div>
                    <div class="text_item">
                        <h2>06.제목</h2>
                        <p>06.내용</p>
                    </div>
                    <div class="text_item">
                        <h2>07.제목</h2>
                        <p>07.내용</p>
                    </div>
                </div>
            </div>
            <!-- content end-->
            <!-- footer -->
            <div class="footer">

            </div>
            <!-- footer end -->
        </div>
    </div>
    <script src="./js/jquery-3.2.1.min.js"></script>
	<script src="./js/jquery.slicknav.min.js"></script>
	<script src="./js/slick.min.js"></script>
	<script src="./js/fresco.min.js"></script>
	<script src="./js/main.js"></script>
</body>
</html>