#container {
  font-family: "Single Day", cursive;
  width: 100%;
}
/* header */
#container > .main > .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  align-items: center;
  width: 100%;
  min-height: 130px;
}
#container > .main > .header > .top_box {
  display: flex;
  flex: 1;
  align-items: center;
  width: 100%;
  min-height: 130px;
  padding: 0.5rem;
}
#container > .main > .header > .top_box > .header_box {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
#container > .main > .header > .top_box > .left_menu > .link {
  margin-right: 15px;
}
#container > .main > .header > .top_box > .logo {
  font-size: 2.5rem;
}
#container > .main > .header > .bottom_box {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid #c9c8c8
}
#container > .main > .header > .bottom_box > .memu_list {
  display: flex;
  margin-top: 30px;
}
#container > .main > .header > .bottom_box > .memu_list > .memu {
  margin-right: 50px;
}
#container > .main > .header > .bottom_box > .memu_list > .memu:last-child {
  margin-right: 0px;
}
/* content */
#container > .main > .content{
  font-family: 'Noto Sans KR', sans-serif;
  position: relative;
}
#container > .main > .content > .post_background_box{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 250px;
  overflow: hidden;
}
#container > .main > .content > .post_background_box > img {
  width: 100%;
  min-height: 250px;
}
#container > .main > .content > .post_box {
  display: flex;
  width: 92%;
  margin: 0 auto;
}
#container > .main > .content > .post_box > .post{
  width: 100%;
  padding-top: 185px;
}
#container > .main > .content > .post_box > .post > .profile_img_box{
    overflow: hidden;
    width: 120px;
    height: 120px;
    cursor: pointer;
    border-radius: 3px;
}
#container > .main > .content > .post_box > .post > .profile_img_box > img{
  width: 120px;
}
#container > .main > .content > .post_box > .post > .profile_my_info{
    width: 100%;
}
#container > .main > .content > .post_box > .post > .profile_my_info > .title{
  font-size: 1.8rem;
  padding-top: 8px;
}
#container > .main > .content > .post_box > .post > .profile_my_info > .descrption{
  font-size: 1.65rem;
  padding-top: 30px;
  text-align: right;
}
#container > .main > .content > .post_box > .post > .profile_my_info > .descrption > .line{
  text-decoration: underline;
}
#container > .main > .content > .post_box > .post > .profile_my_info > .content{
  font-size: 1rem;
  word-break: keep-all;
}
#container > .main > .content > .post_gray_box{
  padding: 10% 5%;
  background-color: #ebebeb;
}
#container > .main > .content > .post_gray_box > .profile_company_info > .info_box > .title{
  padding: 4.25% 0;
  font-size: 1.8rem;
  text-align: center;
}
#container > .main > .content > .post_gray_box > .profile_company_info > .info_box > .title > .hi{
  transform: rotateZ(45deg);
}
#container > .main > .content > .post_gray_box > .profile_company_info > .info_box > .history > li{
  line-height: 1.5;
  margin-bottom: 15px;
}
#container > .main > .content > .post_gray_box > .profile_company_info > .info_box > .history > li > .subject,.descrption{
  font-size: 1rem;
}
#container > .main > .content > .post_gray_box > .profile_company_info > .info_box > .history > li > .subject > .date{
  font-size: 1rem;
}
#container > .main > .content > .post_box > .gallery_box{
  display: flex;
}
#container > .main > .content > .post_box > .gallery_box > .post{
  width: 40%;
}
#container > .main > .content > .post_box > .gallery_box > .post > .post_img_box{
  overflow: hidden;
  width: 100%;
  height: 120px;
  cursor: pointer;
  border-radius: 3px;
}
/* form */
.submit_box{
  text-align: center;
}
.submit_box label{
  display: block;
}

/* mobile */
@media screen and (max-width: 768px) {
  #container > .main > .header{
    min-height: auto;
  }
  #container > .main > .header > .top_box{
    min-height: 55px;
  }
  #container > .main > .header > .top_box > .logo {
    font-size: 2rem;
    white-space: nowrap;
  }
  #container > .main > .header > .top_box > .header_box {
    display: flex;
    flex: 1;
    justify-content: space-around;
  }
  #container > .main > .header > .top_box > .left_menu > .link {
    margin-right: 0px;
  }
}
